<!-- app/views/viri/new.html.erb -->
<h1>Create a New Virus</h1>

<%= form_with model: @virus, local: true do |form| %>
  <% if @virus.errors.any? %>
  <div class="error-messages">
    <h2>The following errors occurred:</h2>
    <ul>
      <% @virus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div>
    <%= form.label :name, "Virus Name" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, required: true %>
  </div>

  <div>
    <%= form.label :price, "Price" %>
    <%= form.number_field :price, step: 0.01, required: true %>
  </div>

  <%= form.submit "Create Virus" %>
<% end %>
